.referenceArea {
    margin-top: 50px;
    @include breakpoint(tablet){
        margin-top: 20px;
    }
    
    .title {
        margin-bottom: 20px;
        padding-right: 30px;
        display: block;
        @include breakpoint(tablet){
            padding-right: 0;
            margin-bottom: 10px;
        }
        span {
            width: 250px;
            display: block;
            text-align: right;
            font-size: $title-font-size;
            font-weight: bold;
            line-height: 34px;
            color: $dark-gray;

            @include breakpoint(tablet){
                width: auto;
                font-size: $middle-font-size;
                line-height: 30px;
                text-align: left;
            }
        }
    }
    .list {
        > li {
            margin-top: 50px;
            &:first-child {margin-top: 0;}

            @include breakpoint(tablet){
                margin-top: 30px;
            }

            .column {
                display: flex;
                justify-content: left;

                @include breakpoint(tablet){
                    display: block;
                    justify-content: normal;
                }

                .tit {
                    width: 250px;
                    padding-right: 30px;
                    display: block;
                    font-size: $middle-font-size;
                    font-weight: bold;
                    color: $light-blue;
                    line-height: 30px;
                    text-align: right;

                    @include breakpoint(tablet){
                        width: auto;
                        padding-right: 0;
                        margin-bottom: 10px;
                        font-size: 20px;
                        line-height: 24px;
                        text-align: left;
                    }
                }
                .subTitle {
                    margin-bottom: 5px;
                    font-size: $middle-font-size;
                    font-weight: bold;
                    color: $dark-gray;
                    line-height: 30px;

                    @include breakpoint(tablet){
                        font-size: 18px;
                        line-height: 24px;
                    }
                }
                .explanation {
                    margin-bottom: 10px;
                    font-size: 14px;
                    color: $light-gray;
                    line-height: 18px;

                    @include breakpoint(tablet){
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
                .textList {
                    .txt {
                        padding-left: 15px;
                        font-size: $normal-font-size;
                        color: $dark-gray;
                        line-height: 30px;
                        position: relative;

                        @include breakpoint(tablet){
                            padding-left: 10px;
                            font-size: 14px;
                            line-height: 20px;
                        }

                        &:before {
                            content: "";
                            display: block;
                            width: 6px;
                            height: 2px;
                            background-color: $dark-gray;
                            position: absolute;
                            top: 16px;
                            left: 0;

                            @include breakpoint(tablet){
                                width: 5px;
                                top: 10px;
                            }
                            
                        }
                    }
                }
            }
        }                
    }
}